* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
}


html {
  color: #ffffff;
  font-family: sans-serif;
}

h1 {
  font-family: 'Lobster', cursive;
}

p {
  font-size: 1rem;
  color: #ffffff;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 80vh;
  margin: 5% 40% 0% 40%;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 2% 2% 0 0;
}

.container-body {
  background-color: #283e50;
  text-align: center;
  padding: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.button-green {
  background-color: #1fcca4;
  border: 0;
  border-bottom: 1px solid;
  padding: 8px;
  text-decoration: none;
}

.button-green:hover {
  background-color: #1cbb96;
}

.button-blue {
  background-color: #0197f6;
  border: 0;
  padding: 8px;
  text-decoration: none;
}

.button-blue:hover {
  background-color: #0090e9
}


/*------------------ HRA ---------------------*/

header {
  max-width: 80vmin;
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-right: 30%;
}

header>h1 {
  font-size: 3rem;
  align-self: center;
}

.play-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play-container p {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

main {
  max-width: 80vmin;
  margin-left: 30%;
  margin-right: 30%;
}

.header-btns {
  display: flex;
}

.header-btns>a {
  margin-left: 0.5rem;
  padding: 0.4rem;
  border-radius: 5%;
}

.home-btn {
  background-color: #1cbb96;
}

.restart-btn {
  background-color: #0090e9;
}
